@model IEnumerable<Luxus.Models.Book>

@{
    ViewBag.Title = "Index";
    string check = "checked";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />
@using (Html.BeginForm("Search", "Book", FormMethod.Get))
{
    <p>
        Find by Title/Author: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

@if (Model != null)
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shared)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageNo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desc)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Rating)*@

                    <span class="starRating">
                        <input id="@item.BookID-rating5" type="radio" name="@item.BookID" class="rating" value="5" @if (item.Rating == 5) { @check } disabled>
                        <label for="@item.BookID-rating5">5</label>
                        <input id="@item.BookID-rating4" type="radio" name="@item.BookID" class="rating" value="4" @if (item.Rating == 4) { @check } disabled>
                        <label for="@item.BookID-rating4">4</label>
                        <input id="@item.BookID-rating3" type="radio" name="@item.BookID" class="rating" value="3" @if (item.Rating == 3) { @check } disabled>
                        <label for="@item.BookID-rating3">3</label>
                        <input id="@item.BookID-rating2" type="radio" name="@item.BookID" class="rating" value="2" @if (item.Rating == 2) { @check } disabled>
                        <label for="@item.BookID-rating2">2</label>
                        <input id="@item.BookID-rating1" type="radio" name="@item.BookID" class="rating" value="1" @if (item.Rating == 1) { @check } disabled>
                        <label for="@item.BookID-rating1">1</label>
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <img src="~/Upload/@item.Image" style="width:50px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shared)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PageNo)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.BookID })
                </td>
            </tr>
        }

    </table>
}
else
{
    <h3>Not found !</h3>
}