@model IEnumerable<Luxus.Models.Book>

@{
    ViewBag.Title = "MyBooks";
}

<h2>MyBooks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shared)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Rating)*@
            <form>
                <div class="col-md-10">
                    <div class="form-group">

                        @*@Html.RadioButtonFor(modelItem => item.BookID, "1")
                    @Html.RadioButtonFor(modelItem => item.BookID, "2")
                    @Html.RadioButtonFor(modelItem => item.BookID, "3")
                    @Html.RadioButtonFor(modelItem => item.BookID, "4")
                    @Html.RadioButtonFor(modelItem => item.BookID, "5")*@

                        <input type="radio" id="@item.BookID" name="@item.BookID" value="1" class="ratingb">
                        <input type="radio" id="@item.BookID" name="@item.BookID" value="2" class="ratingb">
                        <input type="radio" id="@item.BookID" name="@item.BookID" value="3" class="ratingb">
                        <input type="radio" id="@item.BookID" name="@item.BookID" value="4" class="ratingb">
                        <input type="radio" id="@item.BookID" name="@item.BookID" value="5" class="ratingb">
                    </div>
                </div>
            </form>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shared)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookID })
        </td>
    </tr>
}

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript"
src = "https://code.jquery.com/jquery-1.12.4.js" > </script> <script type = "text/javascript" > $(function() {
     $(".ratingb").click(function () {
         var id = $(this).attr("id");
         var iid = parseInt(id);
         var ratingvalue = $('input[name=' + id + ']:checked').val();
         var iid = parseInt(rratingvalue);
         alert(typeof (iid));
         alert(typeof (rratingvalue));
         //alert(id);
         //alert(ratingvalue);
        
            $.ajax({
                type: "POST",
                url: "/Book/RatingControl",
                data: "{ 'BookID': iid, 'Rating' :rratingvalue }",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert(data);
                    if (response != null) {
                        alert("Name : " + response.Name + ", Designation : " + response.Designation + ", Location :" + response.Location);
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function(response) {
                    alert(response.responseText);
                },
                error: function(response) {
                    alert(response.responseText);
                }
            });
        
    });
}); </script> 
}

