@model IEnumerable<Luxus.ViewModels.ShBookVM>

@{
    ViewBag.Title = "ShareBooks";
    string check = "checked";
}

<h2>ShareBooks</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shared)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageNo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)

                <span class="starRating">
                    <input id="@item.BookID-rating5" type="radio" name="@item.BookID" class="rating" value="5" @if (item.Rating == 5) { @check }>
                    <label for="@item.BookID-rating5">5</label>
                    <input id="@item.BookID-rating4" type="radio" name="@item.BookID" class="rating" value="4" @if (item.Rating == 4) { @check }>
                    <label for="@item.BookID-rating4">4</label>
                    <input id="@item.BookID-rating3" type="radio" name="@item.BookID" class="rating" value="3" @if (item.Rating == 3) { @check }>
                    <label for="@item.BookID-rating3">3</label>
                    <input id="@item.BookID-rating2" type="radio" name="@item.BookID" class="rating" value="2" @if (item.Rating == 2) { @check }>
                    <label for="@item.BookID-rating2">2</label>
                    <input id="@item.BookID-rating1" type="radio" name="@item.BookID" class="rating" value="1" @if (item.Rating == 1) { @check }>
                    <label for="@item.BookID-rating1">1</label>
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @{string checkvalue = (item.Shared) ? "checked" : "";}
                <input type="checkbox" id="@item.BookID" name="@item.BookID" class="shared" @checkvalue />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageNo)
            </td>
            <td></td>

        </tr>
    }

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(function () {
            $('.shared').change(function () {
                var BookID = $(this).attr('id');
                var ischecked = $(this).is(':checked');
                var action = (!ischecked) ? "remove" : "add";

                //alert(action);
                //alert('changed >> ' + BookID);

                $.ajax({
                    url: "@Url.Action("ShareBooks")",
                    type: "POST",
                    data: { BookID: BookID, action: action },
                    error: function (response) {
                        alert(json.stringify(response));
                    },
                    success: function (response) {
                        if (response == "Invalid User!") alert("Please Login First!");
                        console.log(response);
                    }
                });

            });


            
            $('.rating').change(function () {
                var BookID = $(this).attr("name");
                var Rating = $(this).val();

                //alert(BookID + " >> " + Rating);

                $.ajax({
                    url: "@Url.Action("Rating")",
                    type: "POST",
                    data: { BookID: BookID, Rating: Rating },
                    error: function (response) {
                        alert(response);
                    },
                    success: function (response) {
                        alert(response);
                        if (response == "Invalid User!") alert("Please Login First!");
                        console.log(response);
                    }
                });

            });
        });
    </script>
}










